        body{
			background-image: linear-gradient(45deg,#00ffff);
			font-family: Sitka Small;
			overflow-x: hidden;
		}

		#prof-img{
			width: 200px;
			height: 200px;
			border: 5px solid #000;
			border-radius: 50%;
			object-fit: cover;
			margin-left: 55px;
		}

		.v1{
			border-right: 2px solid #000;
  			height: auto;
		}

		#name-1{
			font-weight: bold;
			color: #000;
			font-size: 50px;
		}

		.position-1{
			margin-left: 8px;
			letter-spacing: 4px;
		}

		#career-obj{
			margin-top: 100px;
			font-size: 30px;
			font-weight: bold;
			border-bottom: 5px solid #000;
			width: 340px;
		}

		#education{
			margin-top: 100px;
			font-size: 30px;
			font-weight: bold;
			border-bottom: 5px solid #000;
			width: 200px;
		}

		#bach{
			margin-top: 40px;
			font-weight: bold;
			font-size: 22px;
		}

		#about-me{
			margin-top: 100px;
			font-size: 30px;
			font-weight: bold;
			border-bottom: 5px solid #000;
			width: 180px;
		}

		.right-part{
			margin-left: 50px;
		}

		#para-2{
			margin-top: 20px;
		}

		hr{
			border-bottom: 5px solid #000;
			margin-top: 50px;
		}

		#work-exp{
			margin-top: 50px;
			font-size: 30px;
			font-weight: bold;
			border-bottom: 5px solid #000;
			width: 340px;
		}

		#jun-dev{
			margin-top: 40px;
			font-weight: bold;
		}

		#date-1{
			color: #4d0000;
			font-size: 15px;
			font-weight: normal;
		}

		#address{
			font-size: 20px;
		}

		ul > li{
			padding-top: 10px;
		}

		#skills{
			margin-top: 50px;
			font-size: 30px;
			font-weight: bold;
			border-bottom: 5px solid #000;
			width: 130px;
		}

		#skillset{
			margin-top: 20px;
		}

		#skillset > h4{
			word-spacing: 150px;
			margin-left: 15px;
		}

		#skillset-1{
			margin-top: 20px;
		}

		#skillset-1 > h4{
			word-spacing: 120px;
			margin-left: 15px;
		}

		#skillset-2{
			margin-top: 20px;
		}

		#skillset-2 > h4{
			word-spacing: 200px;
			margin-left: 15px;
		}

		#skillset-3{
			margin-top: 20px;
		}

		#skillset-3 > h4{
			margin-left: 15px;
		}

		#website{
			margin-top: 50px;
			font-size: 30px;
			font-weight: bold;
			border-bottom: 5px solid #000;
			width: 320px;
		}

		.web{
			text-decoration: none;
			font-size: 22px;
		}

		.web:hover{
			text-decoration: none;
		}

		#certificate{
			margin-top: 50px;
			font-size: 30px;
			font-weight: bold;
			border-bottom: 5px solid #000;
			width: 250px;
		}

		#curricular-activity{
			margin-top: 50px;
			font-size: 30px;
			font-weight: bold;
			border-bottom: 5px solid #000;
			width: 550px;
		}

		#details{
			margin-top: 50px;
			font-size: 30px;
			font-weight: bold;
			border-bottom: 5px solid #000;
			width: 340px;
		}

		#name > label{
			margin-left: 15px;
		}

		#dob > label{
			margin-left: 15px;
		}

		#mar-status > label{
			margin-left: 15px;
		}

		#addr > label{
			margin-left: 15px;
		}

		#language > label{
            margin-left: 15px;
		}

		#hobby > label{
		    margin-left: 15px;	
		}

		#strength > label{
			margin-left: 15px;
		}

		#name{
			margin-top: 40px;
		}

		#declaration{
			margin-top: 50px;
		}

		#place{
			margin-top: 40px;
		}

		@media(max-width: 767px){
		#prof-img{
			width: 150px;
			height: 150px;
			border: 5px solid #000;
			border-radius: 50%;
			margin-left: 150px;
		   }
		   #name-1{
			font-weight: bold;
			color: #000;
			font-size: 40px;
		  }
		  .right-part{
			margin-left: 0px;
		}
		hr{
			display: none;
		}

		.position-1{
			margin-left: 70px;
			letter-spacing: 4px;
		}

		}
